.task-status-column {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    
    &__badge{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        height: 20px;
        width: fit-content;
        padding: 3px 8px;
        border-radius: 4px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        color: #FDFDFD;
    }
}