@import url("WorkTableTabsActions/workTableTabsActions.scss");
@import url("PageSelector/pageSelector.scss");
@import url("TabWithCounter/tabWithCounter.scss");
@import url("InteractionsList/InteractionsList.scss");
@import url("ListHeaderColumn/listHeaderColumn.scss");

.worktable {
    background-color: #E9EAEB;
    padding: 20px;

    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__tabs {
        border-radius: 8px;
        background-color: white;
        padding: 20px;
    }
}