@import url("WorkTableTabsActions/workTableTabsActions.scss");
@import url("PageSelector/pageSelector.scss");
@import url("TabWithCounter/tabWithCounter.scss");
@import url("InteractionsList/InteractionsList.scss");
@import url("FilteredInteractions/filteredInteractions.scss");
@import url("ListComponents/listComponents.scss");

.worktable {
  background-color: #e9eaeb;
  padding: 20px;

  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__tabs {
    border-radius: 8px;
    background-color: white;
    padding: 20px;
  }
}
