@import url("InteractionsListRow/interactionsListRow.scss");
@import url("SendEmailModal/sendEmailModal.scss");

.interactions-list {
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: column;
    &_item {
      height: 48px;
    }
  }

  &__header,
  .interactions-list-row {
    height: 48px;
    display: grid;
    gap: 20px;
    grid-template-columns:
      8px 24px minmax(0, 160px) 61px minmax(0, 160px) minmax(0, 140px)
      minmax(0, 240px) 48px minmax(120px, 1fr)
      minmax(0, 130px) minmax(0, 130px) minmax(0, 240px)
      24px;
    border-bottom: 1px #0a0d120f solid;

    &:last-of-type {
      border-bottom: none;
    }

    & > * {
      min-height: 0;
      min-width: 0;
    }
  }

  &__column {
    display: flex;
    align-items: center;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #303337;

    & > * {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
