@import url('StatusColumn/statusColumn.scss');
@import url('ChannelColumn/channelColumn.scss');
@import url('EntryPointColumn/entryPointColumn.scss');
@import url('MiddleElipsisString/middleEllipsisString.scss');

.interactions-list {
    display: flex;
    flex-direction: column;

    &__list {
        display: flex;
        flex-direction: column;

        &_item {
            height: 48px;
        }
    }

    &__header,
    &__list_item {
        height: 48px;
        display: grid;
        gap: 20px;
        grid-template-columns: 8px 24px 255fr 61px 160fr 140fr 240fr 48px 255fr 130fr 130fr 240fr 48px;

        & > * {
            min-height: 0;
            min-width: 0;   
        }
    }

    &__column {
        display: flex;
        align-items: center;
        
        /* Table/medium */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        /* identical to box height, or 154% */

        color: #303337;
        
        & > * {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            // white-space: nowrap;
        }
    }
}